/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
!!!


* { outline: 1px solid green; }*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght"var(--heading-weight, 785);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  display: grid;
  justify-items: center;
}

.header {
  max-inline-size: 700px;
  padding: 128px 120px;
  background-color: var(--background-color, #fff);
  border: var(--border-color, #000) solid 2px;
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  text-align: center;
  margin-block: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title h1 {
  font-size: var(--header-size, 65px);
  margin-block-end: 18px;
}

.header__title h2 {
  font-size: var(--header-size-last, 23px);
}

.main {
  display: grid;
  justify-items: center;
}

.card {
  max-inline-size: 700px;
  border: var(--border-color, #000) solid 2px;
  background-color: var(--background-color, #fff);
}

.card:not(:last-of-type) {
  margin-block-end: 50px;
}

.card__title {
  margin: 3px auto 3px 10px;
  font-size: 18px;
  font-variation-settings: "wght"var(--heading-weight, 700);
  line-height: 21.78px;
}

.card__text:last-of-type {
  margin-block-start: 0;
}

.card__image {
  position: relative;
  margin: 0;
  outline: solid var(--border-color, #000) 2px;
  max-height: 696px;
}

.image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-contrast {
  filter: contrast(250%);
}

.filter-rotate {
  filter: hue-rotate(0.5turn);
}

.filter-invert {
  filter: invert(100%) brightness(60%);
}

.filter-sepia {
  filter: sepia(0.6);
}

.filter-blur {
  filter: blur(3px);
}

.filter-many {
  filter: saturate(390%) invert(100%) hue-rotate(0.5turn) brightness(60%);
}

.card__image-label {
  z-index: 2;
  position: absolute;
  font-family: var(--accent-font, fantasy);
  font-weight: var(--text-weight, 400);
  font-size: 14px;
  line-height: 14px;
  color: var(--accent-color, #000);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--label-stroke-color, #fff),
    0 1px var(--label-stroke-color, #fff), 1px 0 var(--label-stroke-color, #fff),
    0 -1px var(--label-stroke-color, #fff);
  top: 30px;
  right: 25px;
}

@supports ((text-stroke: 1px var(--label-stroke-color, #fff)) or (-webkit-text-stroke: 1px var(--label-stroke-color, #fff))) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color, #fff);
    text-stroke: 1px var(--label-stroke-color, #fff);
    text-shadow: none;
  }
}

.card__text {
  font-variation-settings: "wght"var(--text-weight, 400);
  font-size: 18px;
  line-height: 117%;
  margin: 25px;
}

.card__text:first-of-type {
  margin-top: 34px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
}

.button__text {
  font-family: var(--accent-font, fantasy);
  font-size: 14px;
  color: var(--button-txt-color, #fff);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.button {
  border: var(--border-color, #000) solid 2px;
  background-color: var(--background-color, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color, #000);
}

.button::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--accent-color, #000);
  position: absolute;
  transform: scaleX(0);
  transform-origin: left center;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  width: 130px;
  height: 38px;
  margin-inline: 7px 25px;
  margin-bottom: 25px;
}

.card__icon-button {
  width: 39px;
  height: 38px;
  border: #00000000 2px solid;
}

.card__icon-button svg {
  width: 35px;
  height: 34px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--border-color);
  opacity: 1;
}

.card__floppy-button {
  width: 335px;
  height: 55px;
  margin-block: 50px 100px;
}

.floppy-dialog[open] {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  justify-items: start;
  align-items: center;
  row-gap: 30px;
}

.floppy-dialog {
  inline-size: 359px;
  block-size: 192px;
  padding: 30px;
  text-transform: uppercase;
  line-height: 120%;
}

.card__floppy-button .floppy {
  inline-size: 25px;
  block-size: 25px;
  margin-inline-end: 8px;
  fill: var(--button-txt-color, #fff);
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.floppy-dialog .floppy {
  inline-size: 39px;
  block-size: 39px;
  fill: #000;
}

.floppy-dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__button {
  inline-size: 293px;
  block-size: 38px;
  grid-column: span 2;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}

@media (width <=375px) {
  .header {
    inline-size: 375px;
    margin-block-end: 100px;
    padding: 120px 14px;
  }

  .header__title h1 {
    font-size: 49px;
    margin-block-end: 20px;
  }

  .header__title h2 {
    font-size: 14px;
  }

  .card {
    inline-size: 375px;
  }

  .card:not(:last-of-type) {
    margin-block-end: 50px;
  }

  .card__title {
    margin-inline-end: 10px;
    margin-block-end: 5px;
  }

  .card__text:first-of-type {
    margin-block: 29px 27px;
  }

  .card__image {
    max-height: 371px;
  }

  .card__image-label {
    right: 13px;
  }

  .floppy-dialog {
    inline-size: 345px;
    block-size: 192px;
    padding-inline: 35px;
  }

  .dialog__button {
    inline-size: 257px;
  }

  .card__floppy-button {
    width: 306px;
    height: 84px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card__floppy-button .floppy {
    inline-size: 32px;
    block-size: 32px;
    margin-inline-end: 0;
  }
}